/* The block below styles the logo */

#logo {
    display: flex;
    justify-content: center;
}


/* The block below styles the site navigation bars */

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    /* font-style: oblique; */
    color: black;
    font-family: 'Teko';
    font-size: 22px;
    text-decoration: none;
}

hr {
    width: 50%;
}


/* The block below makes it so when we hover on nav buttons, they turn tranparent */

#navOptions:hover {
    color: white;
    opacity: 0.3;
}


/* The block below styles our page links */

a {
    color: black;
    text-decoration: none;
    /* This removes underlines from any of our linkss */
}


/* This block styles our search form */

#form {
    display: flex;
    justify-content: center;
}


/* This styles the placeholder text in our search bar */

input::placeholder {
    font-family: 'Teko';
}


/*This makes it so whatver the user types is in our chosen font*/

input[type=text] {
    font-family: 'Teko';
}


/* This styles our login button */

#login {
    font-family: 'Teko';
}